.row
    .col-sm-8

        %section#rails-setup

            :markdown
                RAILS SETUP
                ===========
                * * *
                ### Start a new Rails app and add `gem 'dcmetro'` to the gemfile.
                For the documentation please see the [Github repo](http://github.com/kencrocken/dcmetro).
                * * *
                ### Initialize the `API_KEY` constant.
                Since I use the CLI for the DCMetro Gem, I have my api_key saved in my shell.  In the <code>assets.rb</code> file, initialize the `API_KEY` for the gem.  On any remote server, an environment variable would need to be set.

                More information can be found [here.](https://github.com/kencrocken/dcmetro#an-env-variable-must-be-set-either-in-your-shell-for-the-cli-or-where-ever-you-keep-such-variables-in-your-rails-apps)

                ```language-ruby
                # config/initializers/assets.rb

                Rails.application.config.assets.version = '1.0'
                DCMetro::Information::API_KEY = ENV['DCMETRO_KEY']
                ```

                * * *
                ### You are ready to go! 
                Now where ever you need to pull in some information about the DC Metro Rail system, instantiate the DCMetro Information class and you are ready to go!

                ```language-ruby
                # app/controllers/welcome_controller.rb

                class WelcomeController < ApplicationController
                
                        def index
                            dc_metro = DCMetro::Information.new
                            @alerts = JSON.parse dc_metro.alerts
                            @lines = JSON.parse dc_metro.line
                            @stations = JSON.parse dc_metro.line "green"
                            @college_park = JSON.parse dc_metro.station "college"
                            @gallery_place = JSON.parse dc_metro.station "gallery"
                            #
                            # New in 0.0.3 - kind of a work in prorgress
                            @fare_info = JSON.parse dc_metro.station "college", "gallery"
                        end

                end
                ```

                * * *

        = render 'welcome/alerts'
        = render 'welcome/rail_lines'
        = render 'welcome/stations'
        = render 'welcome/predictions'
        = render 'welcome/fare_info'

    .col-sm-4

        = render 'welcome/sidebar'
