!!! 5
%html
  %head
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0, maximum-scale=1.0"}
    %title= full_title(yield(:title))
    = stylesheet_link_tag 'application', :media => 'all', "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tag
  %body{ :class => "#{controller_name} #{action_name}", :data => { :spy => "scroll", :target => "#side-nav"} }

    = render 'layouts/header'
    .container
      = yield

    / = render 'layouts/footer'
